In [21]:
# import libraries
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
from itertools import chain

In [95]:
def pipeline(df):
#     """
#     Pipe and pre process scraped data
#     :param df:
#     :return: processed data frame
#     """
    # Convert value to exact numbers of Euros
    df['value'] = df['value'].apply(convert_into_val)

     # Drop duplicates
    df.drop_duplicates(inplace=True, ignore_index=True)

def convert_into_val(value):
    value = value.strip('€')
    if value[-1] == 'M':
        return float(value[:-1]) * 1e6
    elif value[-1] == 'K':
        return float(value[:-1]) * 1e3
    else:
        return int(value)

In [99]:
df = pd.DataFrame(flatten(players_scraped))
pipeline(df)
#df.to_csv("./data/fifa22.csv", index=False, encoding='utf-8-sig')
df.head()

,name,country,age,overall,potential,club,best_position,value,wage
0,Orkun Kökçü,Turkey,20,78,85,Feyenoord,CM,27500000.0,€10K
1,Nico Schlotterbeck,Germany,21,80,86,Sport-Club Freiburg,CB,31000000.0,€23K
2,Rodrygo Silva de Goes,Brazil,20,80,87,Real Madrid CF,RW,42000000.0,€120K
3,Gonçalo Bernardo Inácio,Portugal,19,78,87,Sporting CP,CB,28500000.0,€8K
4,Luis Sinisterra,Colombia,22,79,86,Feyenoord,LW,35500000.0,€14K

In [ ]:
def extract_info(tr):
    return {
        "name": tr.select('td.col-name')[0].find("a").get("aria-label"),
         "country": tr.select('td.col-name')[0].find("img").get("title"),
        "age": tr.select('td.col.col-ae')[0].text.strip(),
        "overall": tr.select('td.col.col-oa')[0].text.strip(),
        "potential": tr.select('td.col.col-pt')[0].text.strip(),
        "club": tr.select("td.col-name")[1].find("a").text,
        #"height": tr.select('td.col.col-hi')[0].text.strip(),
        #"weight": tr.select('td.col.col-wi')[0].text.strip(),
        #"foot": tr.select('td.col.col-pf')[0].text.strip(),
        "best_position": tr.select('td.col-name')[0].find("span").text,
        "value": tr.select('td.col.col-vl')[0].text.strip(),
        "wage": tr.select('td.col.col-wg')[0].text.strip(),
        #"PAC": tr.select('td.col.col-pac')[0].text.strip(),
        #"SHO": tr.select('td.col.col-sho')[0].text.strip(),
        #"PAS": tr.select('td.col.col-pas')[0].text.strip(),
        #"DRI": tr.select('td.col.col-dir')[0].text.strip(),
        #"DEF": tr.select('td.col.col-def')[0].text.strip(),
        #"PHY": tr.select('td.col.col-phy')[0].text.strip()
    }

In [79]:
players_scraped = []
url = "https://sofifa.com/players?offset=1"
res = requests.get(url)
text = res.text
soup = BeautifulSoup(text, "html.parser")
tbody = soup.find("tbody", {"class": "list"})
trs = tbody.findAll("tr")
players_scraped.append([extract_info(tr) for tr in trs])

In [75]:
flatten = lambda x: list(chain.from_iterable(x))
df = pd.DataFrame(flatten(players_scraped))
df['value'] = df['value'].apply(convert_into_val)
df.drop_duplicates(inplace=True, ignore_index=True)

df.head()

,name,country,age,overall,potential,club,best_position,value,wage
0,Lautaro Martínez,Argentina,23,85,89,Inter,ST,78000000.0,€145K
1,Gonçalo Bernardo Inácio,Portugal,19,78,87,Sporting CP,CB,28500000.0,€8K
2,Rodrygo Silva de Goes,Brazil,20,80,87,Real Madrid CF,RW,42000000.0,€120K
3,Nico Schlotterbeck,Germany,21,80,86,Sport-Club Freiburg,CB,31000000.0,€23K
4,Hugo Ekitike,France,19,72,82,Stade de Reims,ST,5000000.0,€12K

In [ ]:
df['value'] = df['value'].apply(convert_into_val)

    # Convert the attributes to numeric only
    #columns = ["PAC", "SHO", "PAS", "DRI", "DEF", "PHY"]
    #df[columns] = df[columns].apply(pd.to_numeric())

    # Rename some variable names
    df.rename({"Country": "Nationality", "best_position": "pos"}, inplace=True)

     # Drop duplicates
    df.drop_duplicates(inplace=True, ignore_index=True)